<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>My MVC Application</h1>
            </div>
            <div id="logindisplay">
                Welcome <strong>@User.Identity.Name</strong>!
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Person", "Person", "Home")</li>
                    <li>@Html.ActionLink("Logon", "Logon", "Account", string.Empty, string.Empty, "here", null, null)</li>
                    <li>@Html.ActionLink("Old URL", "GetLegacyUrl", "Legacy")</li>
                    <li>@Html.ActionLink("Logon2", "Logon2", "Account", new { id = "plop" }, null)</li>
                    <li>@Html.ActionLink("Feed News", "FeedNews", "Home")</li>
                    <li>@Html.ActionLink("Custom authorization", "CustomAuthorization", "Home")</li>
                    <li>@Html.ActionLink("Raise Error", "RaiseException", "Home")</li>
                    <li>@Html.ActionLink("Partial cahcing", "ParentNoCachedAction", "Home")</li>
                    <li>@Html.ActionLink("Concurrency", "ConcurrentRequests", "Home")</li>
                    <li>@Html.ActionLink("Async controller", "Index", "MyAsync")</li>
                    <li>@Html.ActionLink("Dropdown test 1", "UserInfo", "Account")</li>
                    <li>@Html.ActionLink("Legacy URL", "1", "Old")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>
